/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,img {
    border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-style: normal;
    font-weight: normal;
}

ol,ul {
    list-style: none;
}

caption,th {
    text-align: left;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,q:after {
    content: '';
}

abbr,acronym {
    border: 0;
}

/* */

#content {
    width: 50em;
    margin: 2em auto;
    font-family: 'Noticia Text', 'Georgia', serif;
}

/* TOC */
#toc > .entry, #main > .entry {
    margin: 1.3em 0em;
}

#toc > .entry > h1 {
    /*font-style: italic;*/
    font-size: 2em;
}

#toc > .entry > h1 > a {
    text-decoration: none;
    color: orangered;
}

/* Main */
#entry > h1.title { 
    /*font-style: italic;*/
    font-size: 2em;
}

#entry > .body h1,
#entry > .body h2,
#entry > .body h3,
#entry > .body h4 {
    margin: 1.3em 0em .3em 0em;
}

#entry > .body h1 { font-size: 1.6em; }
#entry > .body h2 { font-size: 1.4em; }
#entry > .body h3 { font-size: 1.2em; }
#entry > .body h4 { font-size: 1.1em; }

#entry > .body p {
    margin: .3em 0em;
    line-height: 1.4em;
}

#entry > .body ul {
    list-style: none;
    padding: 1.3em 0em 1.3em 1em;
}

#entry > .body ul > li {
    margin: 0em;
    padding: 0em;
}

